
@{
    ViewBag.Title = "Index2";
}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h1 style="margin-top:0;">#Name</h1>
            <p>
                #Profile statement
            </p>

            <div class="subheading">PROJECTS</div>
            <div class="item">
                <div class="d-flex flex-row">
                    <div class="title">#Project 1 title</div>
                    <text> - </text>
                    <div class="subtitle">#Project 1 subtitle</div>
                </div>
                <div class="description">
                    Project 1 description
                </div>
            </div>

            <div class="subheading">EDUCATION</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Diploma/Grade</th>
                        <th scope="col">Board</th>
                        <th scope="col">Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#Diploma 1</td>
                        <td>#Board 1</td>
                        <td>#Score 1</td>
                    </tr>
                    <tr>
                        <td>#Diploma 2</td>
                        <td>#Board 2</td>
                        <td>#Score 2</td>
                    </tr>
                </tbody>
            </table>

            <div class="subheading">EXPERIENCE</div>
            <div class="item">
                <div class="d-flex flex-row">
                    <div class="title">#Experience 1 title</div>
                    <text> - </text>
                    <div class="subtitle">Experience 1 subtitle</div>
                </div>
                <div class="description">
                    <p>#Experience 1 Duration</p>
                    <ul class="list-group col-6">
                        <li class="list-group-item">
                            #Responsibility 1
                        </li>
                        <li class="list-group-item">#Responsibility 2</li>
                    </ul>
                </div>
            </div>

            <div class="subheading">TRAININGS</div>
            <div class="item">
                <div class="d-flex flex-row">
                    <div class="title">#Training 1 title</div>
                    <text> - </text>
                    <div class="subtitle">#Training 1 subtitle</div>
                </div>
                <div class="description">
                    #Training desciption
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="contact-info">
                <p>
                    #Address
                </p>
            </div>
            <div class="contact-info">#Phone</div>
            <div class="contact-info">
                #Profile Link
            </div>
            <div class="subheading">SKILLS</div>
            <div class="skills">
                <ul>
                    <li>#Skill 1</li>
                    <li>#Skill 2</li>
                    <li>#Skill 3</li>
                </ul>
            </div>
            <div class="subheading">LANGUAGES</div>
            <div class="description">#Languages</div>
        </div>
    </div>
</div>

