
/* Set padding to keep content from hitting the edges */
.body-content, .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

.subheading {
  color: #2079c8;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  margin-right: 5px;
}

.subtitle {
  font-style: italic;
  margin-left: 5px;
}

.description {
  color: #525252;
}