@model IEnumerable<MyProfileApp.Models.Person>
@{
    ViewBag.Title = "Index";
}

<h2>Profiles list</h2>
<div>
    @Html.ActionLink("New Profile", "AddPersonNContact", "PersonNContact", null, new { @class = "btn btn-primary" })
</div>
<div>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Profile Statement</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var person in Model)
            {
                <tr>
                    <td>@Html.ActionLink(person.Name, "View", "Profile", new { id = person.Id }, null)</td>
                    <td>@person.ProfileStatement</td>
                    <td>@Html.ActionLink("Edit", "AddEditInfo", "Profile", new { id = person.Id }, new { @class = "btn btn-link" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>